.ticket-body{
  background-color: white;    
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: box-shadow .2s linear, background-color .2s;
  display: flex;  
}
.info-side{
 display:flex;
 justify-content: space-between;
 width: 100%;
 padding: 5px;
}
.destination{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.origin{
  display: flex;
  flex-direction: column;  
  width: 30%;
}

.pay-button{
  /* background-color: #fa742d; */
  color: white;
  /* font-weight: bold; */
  border-radius: 10%;
  border-color: transparent;
  height: 30px;
  width: 70px; 
  cursor: pointer;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  font-size: 16px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.pay-button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.time{
  font-weight: bold;
}
.stop-count{
  font-weight: bold;
}
.pay-side{
  display: flex;
  flex-direction: column;  
  border-right: 2px solid rgb(243,247,250);  
  width: 15%;
  padding: 5px;
  gap: 5px;
  align-items: center;
}